<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Juvic Medical Clinic</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="humburger">
                <div class="line-humburger">
                    <span class="line-span"></span>
                    <span class="line-span"></span>
                    <span class="line-span"></span>
                </div>
                <div class="x-humburger">
                    <span class="xspan1"></span>
                    <span class="xspan2"></span>
                </div>
            </div>
            <div class="site-logo">
                <img src="/images/juvic-logo3.jpg" alt="juvic medical clinic logo" title="juvic medical clinic" class="site-pic">
            </div>
        </div>
        
        <nav class="navigation">
            <ul>
                <li><a href="home" class="home">Home</a></li>
                <li><a href="about-us" class="about-us">About Us</a></li>
                <li><a href="services" class="services">Services</a></li>
                <li><a href="contact-us" class="contact-us">Contact Us</a></li>
            </ul>
        </nav>
        <div class="signin">
            <button><p>sign in</p></button>
        </div>
    </header>
    <h1 class="welcome-msg">Welcome To Juvic Medical Clinic</h1>
    <main>
        <section>
            <div><img src="/images/equipped pharmacy.jpg" alt="" class="placeholder-pic"></div>
        </section>
        <section>
            <div><img src="/images/equipped pharmacy.jpg" alt="" class="placeholder-pic"></div>
        </section>
        <section>
            <div><img src="/images/equipped pharmacy.jpg" alt="" class="placeholder-pic"></div>
        </section>
        <section>
            <div><img src="/images/equipped pharmacy.jpg" alt="" class="placeholder-pic"></div>
        </section>
        <section>
            <div><img src="/images/equipped pharmacy.jpg" alt="" class="placeholder-pic"></div>
        </section>
        <section>
            <div><img src="/images/equipped pharmacy.jpg" alt="" class="placeholder-pic"></div>
        </section>
        <section>
            <div><img src="/images/equipped pharmacy.jpg" alt="" class="placeholder-pic"></div>
        </section>
        <section>
            <div><img src="/images/equipped pharmacy.jpg" alt="" class="placeholder-pic"></div>
        </section>
        <section>
            <div><img src="/images/equipped pharmacy.jpg" alt="" class="placeholder-pic"></div>
        </section>
        
    </main>

    <footer>
        <p>&copy;2024 Siza </p>
    </footer>
    <script src="/scripts/main.js"></script>
</body>
</html>