<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- includes(.partials/header) %>
    <main>
        <%- body %>
    </main>
    <%- includes(.partials/footer) %>   
</body>
</html>