/**  mobile screen **/
:root{
    --primary-color: white;
    --secondary-color:green;
    --tertiary-color:black;
}

header{
    display: block;
    width: 100%;
}
.top-header{
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0;
    text-align: start;
}
.navigation{
    display: none;
    z-index: 1000;
    margin-top: 4rem;
    background-color: black;
    opacity: 0.6;

}
nav.active{
    display: block;
    z-index: 1000;
    margin-top: 4rem;
    background-color: black;
    opacity: 0.6;
}
.navigation ul li{
    list-style-type: none;
}

.navigation ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.welcome-msg{
    text-transform: capitalize;
    font-size: 1rem;
    text-shadow: 0 0 5px green;
    text-align: justify;
    margin-top: 4rem;
}

.signin button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px;
    border-radius: 10px;
    border: 2px solid green;
}

.signin button p{
    text-shadow: 0 0 5px green;
}
.site-logo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 3.5rem;
    left: 4rem;
    top: 0;
}

.site-pic{
    width: 100%;
    height: 100%;
}

.humburger{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    width: 2.4rem;
}

.line-humburger{
    position: absolute;
    width: 3rem;
    height: 4rem;
    top: 0;
    left: 0;
    padding: 2px;
}

.x-humburger{
    display: none;
    position: relative;
    width: 3rem;
    height: 4rem;
    top: 1rem;
    left: 0;
    padding: 2px;
}

.line-span{
    display: block;
    width: 100%;
    height: 0.4rem;
    background-color: black;
    margin: 1;
}

.xspan1{
    display: block;
    width: 100%;
    height: 0.4rem;
    background-color: black;
    position: absolute;
    transform: rotate(45deg);
    top: 0.1rem;
}

.xspan2{
    display: block;
    width: 100%;
    height: 0.4rem;
    background-color: black;
    transform: rotate(-45deg);
}

.placeholder-pic{
    width: 100px;
    height: 60px;
}
/** minimum 620px screen **/


/**  minimum 920px screen **/


/**  minimum 1200px screen **/