/**  mobile screen **/
:root{
    --primary-color: white;
    --secondary-color:green;
    --tertiary-color:black;
}

/** minimum 620px screen **/


/**  minimum 920px screen **/


/**  minimum 1200px screen **/